<div class="web_container"> 
  <div class="header">
    <div class="form">
      <%= form_tag welcome_register_address_path, method: :post do %>
        <%= text_field_tag :address %>
        <%= submit_tag 'メルマガに登録' %>
      <% end %>
    </div>
  </div>
  <div class="side_menu">
    <%= image_tag('contents-guide.jpg')%>
    <%= link_to image_tag('rise_in_price_rate.jpg', {width: "220px"}), welcome_path(1) %>
    <%= link_to image_tag('fall_in_price_rate.jpg', {width: "220px"}), welcome_path(2) %>
    <%= image_tag('kugiri-line.jpg', {width: "220px"})%>
    <%= link_to image_tag('volume.jpg', {width: "220px"}), welcome_path(3) %>
    <%= link_to image_tag('rate_of_increase_of_volume.jpg', {width: "220px"}), welcome_path(4) %>
    <%= image_tag('kugiri-line.jpg', {width: "220px"})%>
    <%= link_to image_tag('increase_in_margin_buying.jpg', {width: "220px"}), welcome_path(5) %>
    <%= link_to image_tag('reduction_in_margin_buying.jpg', {width: "220px"}), welcome_path(6) %>
    <%= image_tag('kugiri-line.jpg', {width: "220px"})%>
    <%= link_to image_tag('increase_in_margin_sale.jpg', {width: "220px"}), welcome_path(7) %>
    <%= link_to image_tag('reduction_in_margin_sale.jpg', {width: "220px"}), welcome_path(8) %>
    <%= image_tag('kugiri-line.jpg', {width: "220px"})%>
  </div>
  <div class="main">
    <%= link_to 'ブログを登録する', {controller: 'blogs', action: 'index'}%><br>
    <%= link_to 'スレッドホーム', boards_path %>
     <%= @stockCode %>
      <%= @ip %>
      <%= @doc %>
      <%= @start %><br>
      <br>

      <%= link_to "メルマガ登録アドレス一覧", welcome_address_index_path %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>コード</th>
          <th>銘柄</th>
          <th>市場</th>
          <th>株価</th>
          <th>前日比</th>
          <th>出来高</th>
          <th>出来高前日比</th>
          <th>始値</th>
          <th>高値</th>
          <th>安値</th>
          
        </tr>
      </thead>
      <tbody>
        <% @stocks.each do |stock| %>
          <tr>
            <td><%= stock.code %></td>
            <td><%= link_to stock.name, stock_path(stock.id) %></td>
            <td><%= stock.market %></td>
            <td><%= stock.price %></td>
            <td><%= stock.previousprice %></td>
            <td><%= stock.volume %></td>
            <td><%= stock.previousvolume %></td>
            <td><%= stock.opening %></td>
            <td><%= stock.high %></td>
            <td><%= stock.low %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>