
/* global function */

$red-color: #CB2027;

a:hover img{
  opacity:0.8;
  filter:alpha(opacity=80);
  -ms-filter: “alpha( opacity=80 )”;
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}



@mixin rounded-corners($radius: 3px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}
.web_container {
  margin-right: auto;
  margin-left: auto;
  width:1000px;
  height: 100%; 
}
.header {
  width:1000px;
  height:352px;
  background-image : url(header.jpg);
}
.logo {
  width:1000px;
  height:104px;
  background-image : url(hedder_bg.jpg);
  .logo_mark {
    width:369px;
    margin-top:23px;
    float:left;
  }
  .logo_text {
    width:469px;
    margin-left:30px;
    float:left;
  }
}
.side_menu {
  width:256px;
  float:left;
  margin-right: 45px;
  text-align: center;
}

.main {
  width:680px;
  float:left;
}


.form {
  
  width:1000px;
  padding-top: 250px;
  text-align: center;
}

