
/* global function */

$red-color: #CB2027;

@mixin rounded-corners($radius: 3px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}
.web_container {
  margin-right: auto;
  margin-left: auto;
  width:1000px;
  height: 100%; 
}
.header {
  width:1000px;
  height:352px;
  background-image : url(header.jpg);
}
.logo {
  width:1000px;
  height:104px;
  background-image : url(hedder_bg.jpg);
}
.side_menu {
  width:256px;
  float:left;
  margin-right: 45px;
  text-align: center;
}

.main {
  width:680px;
  float:left;
}


.form {
  
  width:1000px;
  padding-top: 250px;
  text-align: center;
}

.stock_table {
  border-collapse: collapse;
  th {
    background-color: rgb(213,230,250);
    border: 1px solid rgb(202,222,249);
  }
  td {
    border: 1px solid rgb(202,222,249);
  }
}